<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>vex</string>
    <key>CFBundleIconFile</key>
    <string>vex</string>
    <key>CFBundleIdentifier</key>
    <string>vex</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>4.2</string>
    <key>CFBundleName</key>
    <string>Vex</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>4.2</string>
    <key>CFBundleVersion</key>
    <string>4.2</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSHighResolutionCapable</key>
    <true />
    <key>QT_PLUGIN_PATH</key>
    <string>@executable_path/../PlugIns</string>
</dict>
</plist>
