IDI_ICON1 ICON "vex.ico"

1 VERSIONINFO
FILEVERSION     4,2,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "github.com/zynomon/vex"
            VALUE "FileDescription", "Vex Text Editor"
            VALUE "FileVersion", "4.2"
            VALUE "ProductName", "Vex"
            VALUE "ProductVersion", "4.2"
        END
    END
END
